trunk/Client/expins/expins/Service References/userService/UserServer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:tns="http://server.user.rfid.com" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://vo.user.rfid.com" targetNamespace="http://server.user.rfid.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://vo.user.rfid.com">
      <xsd:complexType name="UserDetailVo">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="birthday" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="connection" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="id" nillable="true" type="xsd:long" />
          <xsd:element minOccurs="0" name="registerTime" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="userAddress" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="userName" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="usersVo" nillable="true" type="ns1:UsersVo" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="UsersVo">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="id" nillable="true" type="xsd:long" />
          <xsd:element minOccurs="0" name="loginName" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="loginPassword" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="userRoles" nillable="true" type="ns1:ArrayOfRolesVo" />
          <xsd:element minOccurs="0" name="userid" nillable="true" type="xsd:long" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfRolesVo">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="RolesVo" nillable="true" type="ns1:RolesVo" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RolesVo">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="id" nillable="true" type="xsd:long" />
          <xsd:element minOccurs="0" name="isEnable" nillable="true" type="xsd:int" />
          <xsd:element minOccurs="0" name="roleId" nillable="true" type="xsd:long" />
          <xsd:element minOccurs="0" name="roleName" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="roleNote" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfUsersVo">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="UsersVo" nillable="true" type="ns1:UsersVo" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfUserDetailVo">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="UserDetailVo" nillable="true" type="ns1:UserDetailVo" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://server.user.rfid.com">
      <xsd:element name="regUsers">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="in0" nillable="true" type="ns1:UserDetailVo" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="regUsersResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="loginAble">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="in0" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in1" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="loginAbleResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getUsersByLoginNamePassWord">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="in0" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in1" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getUsersByLoginNamePassWordResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="ns1:UsersVo" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="regUsers1">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="in0" nillable="true" type="ns1:UsersVo" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="regUsers1Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getUsersByUserId">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="in0" nillable="true" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getUsersByUserIdResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="ns1:UsersVo" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hasUserByLoginName">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="in0" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hasUserByLoginNameResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getUserDetailByUserId">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="in0" nillable="true" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getUserDetailByUserIdResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="ns1:UserDetailVo" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getAllUsers">
        <xsd:complexType />
      </xsd:element>
      <xsd:element name="getAllUsersResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="ns1:ArrayOfUsersVo" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getUserDetailByLoginNamePassWord">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="in0" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in1" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getUserDetailByLoginNamePassWordResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="ns1:UserDetailVo" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getAllUserDetail">
        <xsd:complexType />
      </xsd:element>
      <xsd:element name="getAllUserDetailResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="ns1:ArrayOfUserDetailVo" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="regUsersRequest">
    <wsdl:part name="parameters" element="tns:regUsers" />
  </wsdl:message>
  <wsdl:message name="getUsersByLoginNamePassWordResponse">
    <wsdl:part name="parameters" element="tns:getUsersByLoginNamePassWordResponse" />
  </wsdl:message>
  <wsdl:message name="getUsersByUserIdResponse">
    <wsdl:part name="parameters" element="tns:getUsersByUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="regUsers1Request">
    <wsdl:part name="parameters" element="tns:regUsers1" />
  </wsdl:message>
  <wsdl:message name="getAllUsersResponse">
    <wsdl:part name="parameters" element="tns:getAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="hasUserByLoginNameRequest">
    <wsdl:part name="parameters" element="tns:hasUserByLoginName" />
  </wsdl:message>
  <wsdl:message name="getUserDetailByUserIdRequest">
    <wsdl:part name="parameters" element="tns:getUserDetailByUserId" />
  </wsdl:message>
  <wsdl:message name="getUserDetailByLoginNamePassWordResponse">
    <wsdl:part name="parameters" element="tns:getUserDetailByLoginNamePassWordResponse" />
  </wsdl:message>
  <wsdl:message name="getAllUserDetailRequest">
    <wsdl:part name="parameters" element="tns:getAllUserDetail" />
  </wsdl:message>
  <wsdl:message name="getUsersByUserIdRequest">
    <wsdl:part name="parameters" element="tns:getUsersByUserId" />
  </wsdl:message>
  <wsdl:message name="regUsersResponse">
    <wsdl:part name="parameters" element="tns:regUsersResponse" />
  </wsdl:message>
  <wsdl:message name="getUserDetailByLoginNamePassWordRequest">
    <wsdl:part name="parameters" element="tns:getUserDetailByLoginNamePassWord" />
  </wsdl:message>
  <wsdl:message name="getAllUsersRequest">
    <wsdl:part name="parameters" element="tns:getAllUsers" />
  </wsdl:message>
  <wsdl:message name="loginAbleResponse">
    <wsdl:part name="parameters" element="tns:loginAbleResponse" />
  </wsdl:message>
  <wsdl:message name="getUsersByLoginNamePassWordRequest">
    <wsdl:part name="parameters" element="tns:getUsersByLoginNamePassWord" />
  </wsdl:message>
  <wsdl:message name="hasUserByLoginNameResponse">
    <wsdl:part name="parameters" element="tns:hasUserByLoginNameResponse" />
  </wsdl:message>
  <wsdl:message name="getUserDetailByUserIdResponse">
    <wsdl:part name="parameters" element="tns:getUserDetailByUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="loginAbleRequest">
    <wsdl:part name="parameters" element="tns:loginAble" />
  </wsdl:message>
  <wsdl:message name="getAllUserDetailResponse">
    <wsdl:part name="parameters" element="tns:getAllUserDetailResponse" />
  </wsdl:message>
  <wsdl:message name="regUsers1Response">
    <wsdl:part name="parameters" element="tns:regUsers1Response" />
  </wsdl:message>
  <wsdl:portType name="UserServerPortType">
    <wsdl:operation name="regUsers">
      <wsdl:input name="regUsersRequest" message="tns:regUsersRequest" />
      <wsdl:output name="regUsersResponse" message="tns:regUsersResponse" />
    </wsdl:operation>
    <wsdl:operation name="loginAble">
      <wsdl:input name="loginAbleRequest" message="tns:loginAbleRequest" />
      <wsdl:output name="loginAbleResponse" message="tns:loginAbleResponse" />
    </wsdl:operation>
    <wsdl:operation name="getUsersByLoginNamePassWord">
      <wsdl:input name="getUsersByLoginNamePassWordRequest" message="tns:getUsersByLoginNamePassWordRequest" />
      <wsdl:output name="getUsersByLoginNamePassWordResponse" message="tns:getUsersByLoginNamePassWordResponse" />
    </wsdl:operation>
    <wsdl:operation name="regUsers1">
      <wsdl:input name="regUsers1Request" message="tns:regUsers1Request" />
      <wsdl:output name="regUsers1Response" message="tns:regUsers1Response" />
    </wsdl:operation>
    <wsdl:operation name="getUsersByUserId">
      <wsdl:input name="getUsersByUserIdRequest" message="tns:getUsersByUserIdRequest" />
      <wsdl:output name="getUsersByUserIdResponse" message="tns:getUsersByUserIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="hasUserByLoginName">
      <wsdl:input name="hasUserByLoginNameRequest" message="tns:hasUserByLoginNameRequest" />
      <wsdl:output name="hasUserByLoginNameResponse" message="tns:hasUserByLoginNameResponse" />
    </wsdl:operation>
    <wsdl:operation name="getUserDetailByUserId">
      <wsdl:input name="getUserDetailByUserIdRequest" message="tns:getUserDetailByUserIdRequest" />
      <wsdl:output name="getUserDetailByUserIdResponse" message="tns:getUserDetailByUserIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAllUsers">
      <wsdl:input name="getAllUsersRequest" message="tns:getAllUsersRequest" />
      <wsdl:output name="getAllUsersResponse" message="tns:getAllUsersResponse" />
    </wsdl:operation>
    <wsdl:operation name="getUserDetailByLoginNamePassWord">
      <wsdl:input name="getUserDetailByLoginNamePassWordRequest" message="tns:getUserDetailByLoginNamePassWordRequest" />
      <wsdl:output name="getUserDetailByLoginNamePassWordResponse" message="tns:getUserDetailByLoginNamePassWordResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAllUserDetail">
      <wsdl:input name="getAllUserDetailRequest" message="tns:getAllUserDetailRequest" />
      <wsdl:output name="getAllUserDetailResponse" message="tns:getAllUserDetailResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserServerHttpBinding" type="tns:UserServerPortType">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="regUsers">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="regUsersRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="regUsersResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loginAble">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="loginAbleRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="loginAbleResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUsersByLoginNamePassWord">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getUsersByLoginNamePassWordRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getUsersByLoginNamePassWordResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="regUsers1">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="regUsers1Request">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="regUsers1Response">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUsersByUserId">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getUsersByUserIdRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getUsersByUserIdResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hasUserByLoginName">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="hasUserByLoginNameRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="hasUserByLoginNameResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserDetailByUserId">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getUserDetailByUserIdRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getUserDetailByUserIdResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllUsers">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getAllUsersRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getAllUsersResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserDetailByLoginNamePassWord">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getUserDetailByLoginNamePassWordRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getUserDetailByLoginNamePassWordResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllUserDetail">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getAllUserDetailRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getAllUserDetailResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserServer">
    <wsdl:port name="UserServerHttpPort" binding="tns:UserServerHttpBinding">
      <wsdlsoap:address location="http://localhost:8080/Server/services/UserServer" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>